<a href="https://colab.research.google.com/github/ethangoldbeck/grit-hub/blob/master/HW1_Ethan_Goldbeck.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import seaborn as sns
DATA_URL = 'http://128.138.93.164/aprd6342/data/TravelPonyFacebook.csv'
df = pd.read_csv(DATA_URL)
import statsmodels.api as sm
import datetime

In [0]:
print( df[['Amount Spent (USD)','Reach','Frequency', 'Unique Clicks', 'Page Likes']].corr())

                    Amount Spent (USD)     Reach  ...  Unique Clicks  Page Likes
Amount Spent (USD)            1.000000  0.703124  ...       0.882993    0.757612
Reach                         0.703124  1.000000  ...       0.722249    0.304388
Frequency                     0.130201  0.334101  ...       0.135103    0.000182
Unique Clicks                 0.882993  0.722249  ...       1.000000    0.584614
Page Likes                    0.757612  0.304388  ...       0.584614    1.000000

[5 rows x 5 columns]

In [0]:
df.head()

NameError: ignored

In [0]:
df['Cost Per Impression'] = df['Amount Spent (USD)']/df['Impressions']

In [0]:
df['Campaign Name']

NameError: ignored

In [0]:
for x in range(0,3705):
  ts = pd.Timestamp(df['Start Date'][x])
  df['DayName'][x] = ts.day_name()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
df.head()

   Start Date    End Date  ... Cost Per Impression   DayName
0  2013-12-02  2013-12-02  ...            0.000466    Monday
1  2013-12-01  2013-12-01  ...            0.000652    Sunday
2  2013-11-30  2013-11-30  ...            0.000448  Saturday
3  2013-11-29  2013-11-29  ...            0.000452    Friday
4  2013-11-22  2013-11-22  ...            0.002464    Friday

[5 rows x 22 columns]

In [0]:
pivoteddata = df.pivot_table(index='DayName', aggfunc='mean')

In [0]:
pivoteddata

           Amount Spent (USD)     Clicks  ...  Unique Clicks  Website Clicks
DayName                                   ...
Friday              10.014741  10.147410  ...       8.848606        3.318725
Monday               7.427097   7.536503  ...       6.521222        2.607810
Saturday             9.625511  10.014028  ...       8.857715        3.691383
Sunday               9.676534   9.981092  ...       8.808824        3.529412
Thursday             7.640209   8.054007  ...       6.980836        2.101045
Tuesday              9.455084   9.419831  ...       8.151899        3.158228
Wednesday            7.956024   7.781726  ...       6.524535        2.475465

[7 rows x 17 columns]

In [0]:
target = df['Unique Clicks']
dep = df[['Frequency','Reach']]

mod = sm.OLS(target, dep)
res = mod.fit()
print(res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:          Unique Clicks   R-squared (uncentered):                   0.557
Model:                            OLS   Adj. R-squared (uncentered):              0.556
Method:                 Least Squares   F-statistic:                              2325.
Date:                Thu, 14 Nov 2019   Prob (F-statistic):                        0.00
Time:                        01:43:17   Log-Likelihood:                         -15973.
No. Observations:                3705   AIC:                                  3.195e+04
Df Residuals:                    3703   BIC:                                  3.196e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Frequency      3.6139      0.298     12.109      0.000       3.029       4.199
Reach          0.0019   3.12e-05     62.490      0.000       0.002       0.002
==============================================================================
Omnibus:                     5107.616   Durbin-Watson:                   0.803
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          5128392.747
Skew:                           7.331   Prob(JB):                         0.00
Kurtosis:                     184.674   Cond. No.                     9.84e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.84e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [0]:
target = df['Unique Clicks']
dep = df[['Frequency']]

mod = sm.OLS(target, dep)
res = mod.fit()
print(res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:          Unique Clicks   R-squared (uncentered):                   0.089
Model:                            OLS   Adj. R-squared (uncentered):              0.089
Method:                 Least Squares   F-statistic:                              363.1
Date:                Thu, 14 Nov 2019   Prob (F-statistic):                    2.64e-77
Time:                        01:43:19   Log-Likelihood:                         -17307.
No. Observations:                3705   AIC:                                  3.462e+04
Df Residuals:                    3704   BIC:                                  3.462e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Frequency      7.9291      0.416     19.056      0.000       7.113       8.745
==============================================================================
Omnibus:                     5923.176   Durbin-Watson:                   0.694
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          3853539.229
Skew:                          10.278   Prob(JB):                         0.00
Kurtosis:                     159.651   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [0]:
target = df['Unique Clicks']
dep = df[['Reach']]

mod = sm.OLS(target, dep)
res = mod.fit()
print(res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:          Unique Clicks   R-squared (uncentered):                   0.539
Model:                            OLS   Adj. R-squared (uncentered):              0.539
Method:                 Least Squares   F-statistic:                              4334.
Date:                Thu, 14 Nov 2019   Prob (F-statistic):                        0.00
Time:                        01:43:22   Log-Likelihood:                         -16045.
No. Observations:                3705   AIC:                                  3.209e+04
Df Residuals:                    3704   BIC:                                  3.210e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Reach          0.0020   3.09e-05     65.832      0.000       0.002       0.002
==============================================================================
Omnibus:                     4800.065   Durbin-Watson:                   0.762
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          5192547.294
Skew:                           6.420   Prob(JB):                         0.00
Kurtosis:                     185.951   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.